body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    text-transform: capitalize;
    text-align: center;
    font-size:calc(2vw + 20px);
}

.box-model img
{
    display: block;
    width: 480px;
    margin: 20px auto;
}


.box-sizing-1
{
    width: 400px;
    height: 500px;
    border: 8px solid lightcoral;
    padding: 30px 70px;
    margin: 20px 30px;
    box-sizing: content-box;
}

.box-sizing-1 p ,
.box-sizing-2 p 
{
    border: 2px solid brown;
}

.box-sizing-2
{
    width: 400px;
    height: 500px;
    border: 8px solid lightcoral;
    padding: 50px 50px;
    margin: 20px 30px;
    box-sizing: border-box;
}




.max-width
{
    border: 2px solid rgb(228, 131, 131);
    padding: 10px 20px;
    max-width: 500px; 
}

.max-width p,
.min-width p
{
    border: 2px solid black;
}


.min-width{
    border:2px solid rgb(223, 132, 132);
    min-width:500px;
}

.max-height
{
    border: 2px solid #000000;
    max-height: 500px; 
}

.max-height p,
.min-height p
{
    border: 2px solid #d28484;
}


.min-height{
    border:2px solid #050000;
    min-height:500px;
}

ol li
{
    border-bottom: 1px solid lightgreen;
    margin: 6px auto;
    padding: 2px;
}

ol li:first-child
{
    list-style-type: armenian;
}

ol li:nth-child(2)
{
    list-style-type:decimal;
}

ol li:nth-child(3)
{
    list-style-type:decimal-leading-zero;
}

ol li:nth-child(4)
{
    list-style-type:georgian;
}

ol li:nth-child(5)
{
    list-style-type:lower-alpha;
}
ol li:nth-child(6)
{
    list-style-type:lower-greek;
}
ol li:nth-child(7)
{
    list-style-type:lower-latin;
}
ol li:nth-child(8)
{
    list-style-type:lower-roman;
}
ol li:nth-child(9)
{
    list-style-type:none;
    background-color: aliceblue;
}

ol li:nth-child(10)
{
    list-style-type:upper-alpha;
}

ol li:nth-child(11)
{
    list-style-type:upper-latin;
}

ol li:nth-child(12)
{
    list-style-type:upper-roman;
}

.inside li
{
    list-style-position: inside;
}

ul li
{
    list-style-position: inside;
    list-style-type: disc;
}

ul li:nth-child(2)
{
    list-style-type: circle;
}

ul li:nth-child(3)
{
    list-style-type: square;
}

.marker li
{
    list-style-type:decimal;
}

.marker li::marker
{
    color: red;
}

.li-img li
{
    list-style-image:url(../Image/Shin-Chan-PNG-60X60px.png) ;
    list-style-position: inside;
}

.box-shadow{
    margin: 60px auto;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid gray;
    box-shadow: 20px 25px 1px  rgb(223, 132, 132,0.6);
}

.box-shadow-1{
    margin: 80px auto;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 30px rgb(223, 132, 132,0.5);
}

.box-shadow-2{
    margin: 80px 100px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 10px 5px rgb(223, 132, 132,0.5);
}

.drop-shadow
{
    filter: drop-shadow(20px 10px 4px rgb(0, 0, 0,0.5));
    width: 300px;
    margin: 10px auto;
}

