*
{
    padding:0%;
    margin:2px 10px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
    :disabled
    :enabled(defult) 
    ::placeholder in html file & css to
    :checked in html file & css to
    :focus
    :hover
    :required
    :invalid
    :valid 
    ::marker this for list items

*/

fieldset
{
    margin: auto 20px;
}

form 
{
    margin: 30px auto;
    width: 500px;
    padding: 20px;
}

input[type="text"]:focus,
input[type="range"]:focus{
    background-color: lightgreen;
}

input[type="text"]:hover,
input[type=checkbox]:hover{
    width: 200px;
    height: 30px;
}


/* ===   */

input[name="check"]{
   accent-color: yellow;    
}

input[id="check-box-1"]{
   accent-color: red;    
}


input:required
{
    border: 2px solid red;
}


::placeholder{
    color:red
}

input:invalid
{
    background-color: darkgray;
    color: white;
}

input:valid
{
    background-color: lightgoldenrodyellow;
    color:cornflowerblue;
}


h1,h3
{
    text-align: center;
    padding: 5px;
}

iframe
{
    width: 48%;
    height: 500px;
}

.iframe-head
{
    text-align: center;
    width: 48%;
    float: left;
}


div:empty
{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid black;
}

span
{
    padding: 30px 0px;
}

span::before
{
    content: "this is before class";
    height: 20px;
    width: 400px;
    color: white;
    background-color: brown;
}

span::after
{
    content: "this is after class";
    height: 20px;
    width: 400px;
    color: white;
    background-color: rgb(244, 49, 49);
}


p:first-of-type::first-letter
{
    font-size: 30px;
    color: blueviolet;
}

p:first-of-type::first-line
{
    background-color: burlywood;
}

p:nth-of-type(2)::selection
{
    background-color: brown;
    color: lightgreen;
}





