@import 'variables/variables';

// nesting 


nav
{
    background-color: $hex-orange ;   
    width: $w-auto ;
    height: $h-auto ;

    ul
    {
        display: $d-flex ;
        align-items: $a-items-center ;
        justify-content: $j-content-center;
        list-style: none ;

        li{
            margin: auto $m-4;
            @at-root
            a
            {
                text-decoration: none;
                color: $hex-off-white ;
                font-size: $fs-xsm ;
            }
        }
    }
}


/*  using @at-root is removing partner in CSS file from nesting style and apply all the related tags  */

.list
{
    list-style: none;
    @at-root
    li
    {
        &::marker
        {
            content: "🚇" ;
        }

        font-size: $fs-4 ;
    }
}