// use methord and import file s 

// import file 

@use './variables/variables' as *;

// sass


body
{
    background-color: $hex-off-white;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: $font-size ;
}


.main-container
{
    margin: $m-auto;
}


.main-container .box
{
  margin: $m-auto;
  display: $d-flex;
  flex-flow : $f-direction-row $f-wrap ;
  align-items: $a-items-center;
  justify-content: $j-content-center;
}

.box .card
{
    flex: 1 1 25%;
    
    margin: $m-1 $m-2;

    border-radius: 10px;
    background-color: $hex-white;
    outline: 2px solid $hex-black;
    display:  $d-flex;
    flex-direction: $f-direction-col ;
    align-items: $a-items-center;
    justify-content: $j-content-around;
    transition: all 0.3s  ease-in-out;


    &:hover
    {
        outline: 2px solid transparent;
        background-color: $hex-Secret-Pink;
        color: $hex-off-white;
    }

    &:hover button
    {
        color: $hex-black !important;
        background-color: $hex-off-white !important;
    }
}

.box .card .card-head .card-icon
{
    padding-top: $p-3 ;
    text-align: $text-center ;
    font-size: $fs-xl ;
}


.box .card .card-head .card-heading
{
    font-size: $fs-xsm;
    text-align: $text-center ;   
    text-transform: $text-upr ;
    font-family: $ff-3 ;
}

.box .card .card-body
{
    padding: $p-2;
}

.box .card .card-body p
{
    font-family: sans-serif;
    text-align: $text-center ;
    font-size: $fs-3 ;
    line-height:$lh-2;
    font-weight: 600;
}


.box .card .card-body .card-btn .btn
{
    cursor: pointer;
    font-size: $fs-2 ;
    font-weight:500;
    margin: $m-auto ;
    padding: $p-2 $p-1 ;
    background-color: $hex-black;
    color: $hex-white;
    display: $d-block ;
    width: $w-auto;
    border: 0px;
    letter-spacing: 1px;
    border-radius: 40px;
}