// product-1 colors

$color-light:#ffffff;
$color-dark:#000000;

$p1-color-1:#222b3a;
$p1-color-2:#373f4b;
$p1-color-3:#1b2330;
$p1-color-4:#e1e4e8;
$p1-color-5:#3f88eb;
$p1-color-6:#DA3A40;

$star-color-1 : yellow;
$star-color-2 : #DA3A40;

$p1-bg-color:#000000;
$p2-bg-color:#DA3A40;
$p3-bg-color:#a09d94;
$p4-bg-color:#0f818a;
$p5-bg-color:#0f818a;
$p6-bg-color:#797979;
$p7-bg-color:#797979;
$p8-bg-color:#a5c582;
$p10-bg-color:#27262e;

$p1-gradient: linear-gradient(to right, #c3c5ca, #cdcfd3, #d8d9dd, #e2e4e6, #edeef0);
$p2-gradient: linear-gradient(to bottom, #d4552a, #dd6128, #e66e26, #ee7a23, #f6871f);
$p3-gradient: linear-gradient(to right bottom, #c88a37, #958b36, #688646, #477b58, #376d62, #427066, #4d726b, #57756f, #708b7b, #8ea087, #b1b495, #d6c7a6);
$p4-gradient: linear-gradient(to bottom, #bbc4cb, #a2c2ca, #8ac0bc, #83bca1, #90b47e);
$p5-gradient: linear-gradient(to bottom, #3d3d3d, #38373c, #34323a, #302c39, #2c2637);