*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #000000;
}

.box-wrapper
{
    border: 2px solid black;
    background-color: #000000;
    width: 1200px;
    height: 90vh;
    margin: 2% auto;
    position: relative;
}


.ball-line
{
    position: absolute;
    width: 100%;
    height: 80%;
    border: 1px solid red;
    margin: auto;
    padding: 4px;
    overflow: hidden;
}

.line-2
{
    transform: rotate(0.5turn);
    border: 2px solid teal;
}


.ball-line .ball
{
    display: inline-block;
    width:2.8%;
    height: 8%;
    border-radius: 50%;
    background-color: brown;
    margin: auto;
    transform: translate(0px,100px);
    animation: move 10s linear  infinite  alternate-reverse;
}


@keyframes move {
    0%
    {
        transform: translate(0px,100px);  
        background-color:lightblue;
        box-shadow: 0px 0px 15px 0px lightblue  ;
    }
    10%
    {
        transform: translate(100px,-4px);
        background-color:lightcoral;
        box-shadow: 0px 0px 15px 0px lightcoral;
    }
    20%
    {
        transform: translate(200px,40px);
        background-color:lightcyan;
        box-shadow: 0px 0px 15px 0px lightcyan;
    }
    30%
    {
        transform: translate(300px,80px);
        background-color:lightgreen;
        box-shadow: 0px 0px 15px 0px lightgreen;
    }
    40%
    {
        transform: translate(400px,10px);
        background-color:lightskyblue;
        box-shadow: 0px 0px 15px 0px lightskyblue  ;
    }
    50%
    {
        transform: translate(500px,50px);
        background-color:rgb(255, 255, 255);
        box-shadow: 0px 0px 15px 0px rgb(255, 255, 255)  ;
    }
    60%
    {
        transform: translate(600px,100px);
        background-color:rgb(255, 255, 255);
        box-shadow: 0px 0px 15px 0px rgb(255, 255, 255)  ;
    }
    70%
    {
        transform: translate(700px,150px);
        background-color:lightskyblue;
        box-shadow: 0px 0px 15px 0px lightskyblue  ;
    }
    80%
    {
        transform: translate(800px,220px);
        background-color:lightgreen;
        box-shadow: 0px 0px 15px 0px lightgreen;
    }
    90%
    {
        transform: translate(900px,250px);
        background-color:lightcyan;
        box-shadow: 0px 0px 15px 0px lightcyan;
    }
    100%
    {
        transform: translate(1000px,350px);
        background-color:lightblue;
        box-shadow: 0px 0px 15px 0px lightblue  ;
    }
   
}


.line-3 .ball
{
    animation: move-1 10s linear  infinite  alternate-reverse;
}



@keyframes move-1 {
    0%
    {
        transform: translate(100px,0px);  
        background-color:lightblue;
        box-shadow: 0px 0px 15px 0px lightblue  ;
    }
    10%
    {
        transform: translate(100px,-4px);
        background-color:lightcoral;
        box-shadow: 0px 0px 15px 0px lightcoral;
    }
    20%
    {
        transform: translate(-200px,400px);
        background-color:lightcyan;
        box-shadow: 0px 0px 15px 0px lightcyan;
    }
    30%
    {
        transform: translate(-300px,-80px);
        background-color:lightgreen;
        box-shadow: 0px 0px 15px 0px lightgreen;
    }
    40%
    {
        transform: translate(450px,-10px);
        background-color:lightskyblue;
        box-shadow: 0px 0px 15px 0px lightskyblue  ;
    }
    50%
    {
        transform: translate(600px,150px);
        background-color:rgb(255, 255, 255);
        box-shadow: 0px 0px 15px 0px rgb(255, 255, 255)  ;
    }
    60%
    {
        transform: translate(800px,200px);
        background-color:rgb(255, 255, 255);
        box-shadow: 0px 0px 15px 0px rgb(255, 255, 255)  ;
    }
    70%
    {
        transform: translate(800px,150px);
        background-color:lightskyblue;
        box-shadow: 0px 0px 15px 0px lightskyblue  ;
    }
    80%
    {
        transform: translate(800px,250px);
        background-color:lightgreen;
        box-shadow: 0px 0px 15px 0px lightgreen;
    }
    90%
    {
        transform: translate(600px,280px);
        background-color:lightcyan;
        box-shadow: 0px 0px 15px 0px lightcyan;
    }
    100%
    {
        transform: translate(1000px,550px);
        background-color:lightblue;
        box-shadow: 0px 0px 15px 0px lightblue  ;
    }
   
}