@media (max-width:768px) {
   
    .navbar .navbar-close-btn
    {
        inset: 0% 0% 0% 90%;
    }

    header .header-box
    {
        padding-top:60px;
    }
}

@media (max-width:568px) {
    header .header-box
    {
        padding-top:100px;
    }

}