// hight
$h-auto:100%;

$h-10:100px;
$h-20:200px;
$h-30:300px;
$h-40:400px;
$h-50:500px;


$vh-10:10vh;
$vh-20:20vh;
$vh-30:30vh;
$vh-40:40vh;
$vh-50:50vh;
$vh-60:60vh;
$vh-70:70vh;
$vh-80:80vh;
$vh-90:90vh;
$vh-100:100vh;




// width 
$w-auto:100%;

$w-10:150px;
$w-20:250px;
$w-30:350px;
$w-40:450px;
$w-50:550px;


$vw-10:10vw;
$vw-20:20vw;
$vw-30:30vw;
$vw-40:40vw;
$vw-50:50vw;
$vw-60:60vw;
$vw-70:70vw;
$vw-80:80vw;
$vw-90:90vw;
$vw-100:100vw;


