
// margin

$m-1:10px;
$m-2:20px;
$m-3:30px;
$m-4:40px;
$m-5:50px;
$m-5:50px;
$m-6:60px;
$m-7:70px;
$m-8:80px;
$m-9:90px;
$m-10:100px;

$m-auto:auto;

// padding 

$p-1:10px;
$p-2:20px;
$p-3:30px;
$p-4:40px;
$p-5:50px;
$p-6:60px;
$p-7:70px;
$p-8:80px;
$p-9:90px;
$p-10:100px;