// 

$hex-blue:#0000FF;
$hex-red:#FF0000;
$hex-yellow:#FFFF00;
$hex-orange:#FF6600;
$hex-Purple:#6600FF;
$hex-green:#00FF00;
$hex-white:#FFFFFF;
$hex-black:#000000;




// topic-1  card colors

$hex-off-white:#f9f1f1;
$hex-Bright-Red:#EE4B2B;
$hex-Secret-Pink:#F9629F;




