
$ff-1: 'Courier New', Courier, monospace;
$ff-2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$ff-3: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


// font-size 

$font-size: 65.25% ;

$fs-1:1rem;
$fs-2:1.2rem;
$fs-3:1.3rem;
$fs-4:1.4rem;
$fs-5:1.5rem;
$fs-6:1.6rem;
$fs-7:1.7rem;
$fs-8:1.8rem;
$fs-9:1.9rem;
$fs-10:2rem;

$fs-xsm:2.5rem;
$fs-sm:3.5rem;
$fs-md:4.5rem;
$fs-lg:5.5rem;
$fs-xl:6.5rem;
$fs-xxl:7.5rem;