@mixin flexbox
{
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

@mixin flexbox-custom($a-i:center,$j-c:center)
{
    display: flex ;
    align-items: $a-i ;
    justify-content: $j-c ;
}

@mixin link($color : $hex-Secret-Pink ){
    background-color: $color;
    @content;
}