// hight

$h-10:100px;
$h-20:200px;
$h-30:300px;
$h-40:400px;
$h-50:500px;

$h-100:100vh;
$h-auto:100%;

// width 

$w-10:150px;
$w-20:250px;
$w-30:350px;
$w-40:450px;
$w-50:550px;

$w-100:100vw;
$w-auto:100%;

