


// text-align

$text-center:center;
$text-left:left;
$text-right:right;
$text-justify:justify;

// text-transform

$text-low: lowercase;
$text-cap: capitalize;
$text-upr: uppercase;

// line-hight

$lh-sm:1.5rem;
$lh-md:2.5rem;
$lh-lg:3.5rem;
$lh-xl:4.5rem;

$lh-1:1rem;
$lh-2:2rem;
$lh-3:3rem;
$lh-4:4rem;
