
// diplay-flex

$flex:flex;

$f-direction-row: row;
$f-direction-col: column;

$a-items-center: center;
$a-items-start: start;
$a-items-end: end;

$j-content-center:center;
$j-content-start: flex-start;
$j-content-around: space-around;
$j-content-between: space-between;
$j-content-evenly: space-evenly;